:root {
    --primary: #ea1b7e;
    --secondary: #62c4b0;
    --tertiary: #eabc54;
}

.nav-link {
    transition: color .2s;
}

.nav-item:hover .nav-link {
    color: var(--secondary);
}

#map {
    min-height: 400px;
}

.nav-item a {
    text-shadow: 0 0 3px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 3px #000;
    -webkit-text-shadow: 0 0 3px #000;
}

.text-pink {
    color: var(--primary)
}

.text-green {
    color: var(--secondary)
}

.text-yellow {
    color: var(--tertiary)
}

nav {
    z-index: 9999;
}

.bg {
    background-color: white;
}

.left, .right {
    display: flex;
    width: 50%;
    flex-grow: 1;
}

.hero-text {
    user-select: none;
    font-size: 6em;
    z-index: 5000;
    color: white;
    position: absolute;
    transform: translate(-50%, -25%);
    top: 50%;
    left: 50%;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.hero {
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.hero-filter {
    filter:brightness(.5);
}

.hero img {
    width: 100%;
    min-height: 100vh;
    height: auto;
    object-fit: cover;
}

.logo:hover {
    animation-name: bounce;
    animation-duration: 0.7s;
}

#navbar {
    transition: background-color .2s;
}

.nav-top {
    background-color: rgba(255,255,255,0) !important;
}

.nav-moved {
    background-color: rgba(0,0,0, 0.8) !important;
}

@keyframes bounce {
    0% {
        transform:scale(0.9, 1.15);
    }
    60% {
        transform:scale(1.1, 0.85);
    }
    73% {
        transform:scale(0.95, 1.07);
    }
    86% {
        transform:scale(1.05, 0.92);
    }
    100% {
        transform:scale(1, 1);
    }
}